
/*------------------------------------------ Achtergrond ------------------------------------------*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    min-height: 100% !important;
    height: auto !important;
    font-size: 25px;
}
body{
    background-image: url("pc-grey.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}




/*------------------------------------------ Stijl sidenav ------------------------------------------*/
#mySidenav a {
    position: absolute; 
    left: -80px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0; /* maakt element deels rond */
    opacity: 0.7;
    z-index: 10;
}

#mySidenav a:hover {
    left: 0; /* laat side nav verschijnen */
}


#about {
    top: 20px;
    background-color:#555; /* Light Black */
}

#blog {
    top: 80px;
    background-color: #555; 
}

#projects {
    top: 140px;
    background-color: #555; 
}

#contact {
    top: 200px;
    background-color: #555;
    
}


#myfooter {
   position: fixed; /* positie blijft hetzelfde */
    left: 0;
    right: 0;
    bottom: -80px;
    width: 100%;
    background-color:  rgba(0,0,0,0.1);
    color: #fff;
    opacity: 0.1;
    transition: all 0.3s ease;
}
#myfooter:hover {
    bottom: 0px;
    opacity: 1;
}
#myfooter .footerContainer{
    max-width: 1000px;
    margin: auto;
    border: 1px solid #fff;
}
#myfooter .footerContainer h3{
    width: 100%;
    text-align: center;
}
 
 #contactinfo {
  text-align: center;
  background-color: #555;
}

#blog-tekst {

background-color: #555;
float: left;
margin: 8%;
color: white;
text-align: center;
opacity: 0.9;
border-radius: 5px;
animation-duration: 3s;
animation-name: spring; 
}
@keyframes spring {
  from {
    opacity: 0; 
  }

  to {
   opacity: 0.9;
  }
} 


/*------------------------------------------ algemene elementen stijl ------------------------------------------*/

.animatie {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: block;
}
.animatie h1 {
 color: white;
 text-align: center;
 opacity: 0.7;
 animation-duration: 2s;
 animation-name: slide; 
 overflow: hidden;

}
@keyframes slide {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

ul {
  text-align: left;

}
#stylesheet1, #stylesheet2{
   margin: auto;
    display: block;

}

.column{
background-color: #555;
float: left;
margin: 1%;
width: 48%;
color: white;
text-align: center;
opacity: 0.7;
border-radius: 5px; 
animation-duration: 3s;
animation-name: spring 
}
@keyframes spring {
  from {
    opacity: 0; 
  }

  to {
   opacity: 0.7;
  }
}

/*------------------------------------------email formulier ------------------------------------------*/

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #555;;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: #555;
    opacity: 0.8;
}

#formulier {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    opacity: 0.9;
    width: 50%;
    margin: auto;
}




.row:after { 
    content: "";
    display: table;
    clear: both;
}

 /*------------------------------------------  Responsive layout laat twee columns onder elkaar vallen ------------------------------------------*/
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}


